/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

.ng-scope {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #FFFFFF;
  font-size: 50px;
  font-size: 5rem; }

body {
  background: #388E3C; }

.frontpage--login {
  text-align: center;
  padding-top: 20%; }
  .frontpage--login button {
    margin-top: 20px;
    font-size: 20px;
    font-size: 2rem; }

.frontpage--spinner {
  margin-top: 20px; }

.items--subpage {
  overflow: hidden;
  font-size: rem(2); }
  .items--subpage h1 {
    padding-top: 40px; }

.items--categories-spinner {
  margin-top: 80px; }

.items--feed {
  overflow: scroll;
  font-size: 14px;
  font-size: 1.4rem; }

.items--list {
  margin-top: 20px; }
