<div layout="row" layout-align="center center">

  <div flex="20" class="frontpage--login">
    <h1>Feedly</h1>
    <div layout="row" layout-align="space-around" ng-show="showSpinner">
      <md-progress-circular md-mode="indeterminate" class="md-accent frontpage--spinner" ></md-progress-circular>
    </div>

    <div layout="row" layout-align="space-around" ng-hide="showSpinner">
      <md-button class="md-raised md-primary" ng-click="feedlyStart()">Start</md-button>
    </div>
  </div>


</div>

